| $('#teams-list').html("#{j render('cms/teams/partials/column')}");
  enableOrderingForTeams();
  $('#subcategories-list .categorized-item.is-active').removeClass('is-active')
  $('#subcategories-list .categorized-item-wrapper[data-id=#{@subcategory.id}] .categorized-item').addClass('is-active')
  registerCloseListener();