.h
  &-header
    +font-size(16px)
    height: rem(83px)
    border-bottom: 1px solid #EDEDED
    background: white
    position: relative
    z-index: 1

  &-hero
    @extend .flex-center
    +font-size(22px)
    +line-height(28px)
    width: 253px
    background: $primary

  //&-search,
  //&-share,
  //&-profile
  //  border-left: 1px solid $border-color

  /** Search widget **/
  &-search
    @extend .flex-y-center
    flex-grow: 1
    padding-left: 38px

    &__input
      +font-size(16px)
      font-weight: 400
      border: none

      &:hover,
      &:focus
        border: none

      &-wrapper
        flex: 1

    &__icon
      height: 24px

  /** Share widget **/
  &-share
    @extend .flex-center

    &-wrapper
      @extend .flex-center
      flex-basis: 22%

    &__title
      +font-size(14px)
      // TODO: move to variables
      color: #7F8899
      margin-right: 24px

    &__link
      display: inline-block

      &:not(:last-child)
        margin-right: 33px

    &__icon
      height: 18px

  /** Signup widget **/
  &-signup
    @extend .flex-center

    &-wrapper
      @extend .flex-center
      justify-content: flex-end
      flex-basis: 19%
      padding-right: rem(20px)

    button:last-child
      margin-left: 35px

  /** Switch widget **/
  &-switch
    margin-right: 30px
    display: none
    cursor: pointer

  /** Profile widget **/
  &-profile
    @extend .flex-center

    &-wrapper
      @extend .flex-center
      padding-left: rem(30px)

      &.has-switch
        flex-basis: unset
        padding: 0 rem(24px) 0 rem(32px)

        .h-switch
          display: block

      &:not(.has-switch)
        flex-basis: 21%

    &__avatar
      width: 100%
      height: 100%
      object-fit: cover

      &-wrapper
        width: rem(34px)
        height: rem(34px)
        border-radius: 50%
        overflow: hidden

    &-menu
      @extend .flex-center
      cursor: pointer
      margin-left: 10px

      &__toggle
        @extend .flex-center
        +font-size(12px)
        font-weight: 600

      &__user
        padding: 15px 25px 12px 26px

        &-name
          +font-size(12px)
          font-weight: 600

        &-email
          font-size: 12px
          color: #7F7B7B

  /** Lang widget **/
  &-lang
    min-width: 56px
    padding: 0
    border-radius: 0
    border: none

    &-wrapper
      @extend .flex-center
      margin-right: rem(60px)

    &.show
      .app-header-lang__toggle-icon
        transform: rotate(180deg)

    &__select
      min-width: 56px
      padding: 0
      border-radius: 0
      border: none

    &__toggle,
    &__item
      +font-size(12px)
      font-weight: 600
      cursor: pointer

    &__toggle
      @extend .flex-y-center
      padding-left: 8px


    &__item
      padding: 7px 28px 7px 13px

      &:hover
        color: $primary
        background: $highlight-color