footer.app-footer
  .app-footer-content
    .app-footer-column
      .app-footer-column__title
        = t('footer.info.title')
      ul.app-footer-column__links
        - links = %i[about news advertising events contact_us]
        - links.each do |link|
          li.app-footer-column__link-wrapper
            = link_to t("footer.info.links.#{link}"), '#', class: 'app-footer-column__link'

    .app-footer-column
      .app-footer-column__title
        = t('footer.contributors.title')
      ul.app-footer-column__links
        - links = %i[writers team_writers intership]
        - links.each do |link|
          li.app-footer-column__link-wrapper
            = link_to t("footer.contributors.links.#{link}"), '#', class: 'app-footer-column__link'

    .app-footer-column
      .app-footer-column__title
        = t('footer.newsletter.title')
      .app-footer-column__links
        .app-footer-column__link href="#"
          = t('footer.newsletter.description')
        .app-footer-newsletter
          input.app-input placeholder=("Your email address") type="text" /
          button.button Subscribe
  .app-footer-additional
    .app-footer__app-name Sports Hub
    div
      .app-footer-copyrights Copyright ©2019 Sports Hub
      .app-footer-terms Privacy / Terms
