|
   $('#modal-content').empty();
   $('#modal').modal('hide');
   $('#teams-list').empty();
   $('#subcategories-list').html("#{j render 'cms/subcategories/partials/column'}");
   enableOrderingForSubcategories();
   $('#categories-list .categorized-item.is-active').removeClass('is-active')
   $('#categories-list .categorized-item-wrapper[data-id=#{@category.id}] .categorized-item').addClass('is-active');
   registerCloseListener();
