|  $('#modal-content').empty();
   $('#modal').modal('hide');
   $('#teams-list').empty();
   $('#subcategories-list').html("#{j render 'cms/subcategories/partials/column'}");
   InfoArchitecture.makeSubcategoriesSortable();
