| $('.ia-subcategories').html("#{j render('cms/subcategories/partials/column')}")
  $('#teams-list').empty();
  $('.ia-subcategories .resource-item.is-active').removeClass('is-active')
  $('.ia-subcategories .resource-item[data-id=#{@category.id}]').addClass('is-active')