-  @categories.each do |c|
  .categorized-item-menu__link-wrapper
    = link_to c.name, update_category_cms_category_subcategory_path(@category, @subcategory, params: {new_category_id: c.id}),\
      class: 'categorized-item-menu__link', method: :post, remote: true