.sidebar
  width: 100%
  position: fixed
  height: calc(100vh - 300px)
  top: rem(83px)
  z-index: 5
  width: 252px
  padding-top: 53px
  overflow-y: hidden

  &-content
    position: relative
    height: 100%

  &-categories
    position: absolute
    top: 0
    left: 100%

  &-link,
  &-follow
    padding-left: 52px

  &-links
    list-style-type: none
    margin: 0
    padding: 0
    max-height: calc(100% - 182px)

  &-link
    +font-size(14px)
    font-weight: 700
    color: #B2B2B2
    text-decoration: none

    &-wrapper
      @extend .flex-y-center
      position: relative
      height: 41px

      &:hover,
      &.active
        a
          color: #C63638
          text-decoration: none

      &.active
        &:before
          content: '•'
          position: absolute
          left: 31px
          color: #C63638

  &-follow
    margin-top: 70px

    &__title
      color: #B2B2B2

    &__group
      display: flex
      margin-top: 24px

    &__link
      width: 20px
      height: 20px
      display: flex
      align-items: center
      justify-content: center

      &:not(:first-child)
        margin-left: 25px

    &__icon
      width: 100%

//
//.menu
//  width: 252px
//  position: relative
//  z-index: 15
//
//  &-item
//    &:hover
//      background: red
//
//      > .sub-menu
//        display: block
//
//
//.sub-menu
//  width: 252px
//  display: none
//  position: absolute
//  left: 100%
//  top: 0