|
  $('#modal-content').empty();
  $('#modal').modal('hide');
  $('#subcategories-list').empty();
  $('#teams-list').empty();
  $('#categories-list').html("#{j render 'cms/categories/partials/column'}");
