|
  $('#subcategories-list').empty();
  $('#teams-list').empty();
  $('#modal-content').empty()
  $('#modal-content').html("#{j render('cms/categories/partials/form')}")
  $('#modal').modal('show')



