- content_for :styles do
  = stylesheet_link_tag 'home-page', media: 'all', 'data-turbolinks-track': 'reload'
- content_for :scripts do
  = javascript_pack_tag 'home-page'

div
  / TODO: add trending categories here
  = render 'customer/partials/article-hero', articles: Article.take(5)

  .hero-articles-preview
    .hero-article-preview
      .hero-article-preview__logo-wrapper
        img.hero-article-preview__logo alt=("article preview") src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmO5OO_bq3z3j__8HpYxph6lM31L3InVcyXA&usqp=CAU" /
      .hero-article-preview__title
        | Raiders release
      .hero-article-preview__text
        | After a five-year stint with the Oakland Raiders
      .hero-article-preview__nav
        span.material-icons east

    .hero-article-preview
      .hero-article-preview__logo-wrapper
        img.hero-article-preview__logo alt=("article preview") src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmO5OO_bq3z3j__8HpYxph6lM31L3InVcyXA&usqp=CAU" /
      .hero-article-preview__title
        | Raiders release
      .hero-article-preview__text
        | After a five-year stint with the Oakland Raiders
      .hero-article-preview__nav
        span.material-icons east

    .hero-article-preview
      .hero-article-preview__logo-wrapper
        img.hero-article-preview__logo alt=("article preview") src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmO5OO_bq3z3j__8HpYxph6lM31L3InVcyXA&usqp=CAU" /
      .hero-article-preview__title
        | Raiders release
      .hero-article-preview__text
        | After a five-year stint with the Oakland Raiders
      .hero-article-preview__nav
        span.material-icons east

    .hero-article-preview
      .hero-article-preview__logo-wrapper
        img.hero-article-preview__logo alt=("article preview") src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmO5OO_bq3z3j__8HpYxph6lM31L3InVcyXA&usqp=CAU" /
      .hero-article-preview__title
        | Raiders release
      .hero-article-preview__text
        | After a five-year stint with the Oakland Raiders
      .hero-article-preview__nav
        span.material-icons east

  .breakdown-divider
    = render 'partials/section-divider', content: 'BREAKDOWN'

  .breakdown
    .breakdown-row
      = render 'home/partials/news-preview'
      .block-group
        = render 'home/partials/block-item'
        = render 'home/partials/block-item'
        = render 'home/partials/block-item'

  .pod-divider
    = render 'partials/section-divider', content: 'PHOTO OF THE DAY'

  .pod
    .pod-container
      .pod-sign
        span.pod-sign-decoration
        div
          b PHOTO
          br/
          | OF THE
          br/
          b DAY
      .pod__logo-wrapper
        img.pod__logo alt=("photo of the day") src="https://www.businessinsider.in/photo/77825377/Lionel-Messi-leaving-Barcelona-would-be-the-biggest-and-most-shocking-transfer-in-football-history-but-it-would-make-perfect-sense-for-everyone.jpg?imgsize=330710" /
      .pod-description
        .pod-description__title
          | Defending The Throne
        .pod-description__text
          | Los Angeles Lakes guard Derek Fisher, right, is pressured by the Denver Nuggets Nene during th efirst quarter of NBA exhibition action on Oct 16
        .pod-description__source
          | Photo Courtesy MCT

  .top-data
    .most-popular
      .aside-divider
        .aside-divider__content
          | MOST POPULAR
        .aside-divider__line
      .top-data-col.block-group
        = render 'home/partials/block-item'
        = render 'home/partials/block-item'
        = render 'home/partials/block-item'


    .most-commented
      .aside-divider
        .aside-divider__content
          | MOST COMMENTED
        .aside-divider__line
      .top-data-col.block-group
        = render 'home/partials/block-item'
        = render 'home/partials/block-item'
        = render 'home/partials/block-item'

