| $('#comment-input').empty();

- if !@comment.parent_id
  | $('.comments-list').prepend('#{j render('customer/comments/partials/comment-with-reply', comment: @comment)}');
- else
  |
    var repliesContainer = $('.comment[data-id="#{@comment.parent_id}"]').closest('.comment-replies');
    var container = repliesContainer.length ? repliesContainer : $('.comment[data-id="#{@comment.parent_id}"] + .comment-replies');
    container.append('#{j render('customer/comments/partials/comment-with-reply', comment: @comment)}');
|
  $('#modal-content').empty();
  $('#modal').modal('hide');