<%
  home = [
    'HOME',
    'NBA',
    'NFL',
    'MLB',
    'NHL',
    'CBB',
    'NASCAR',
    'GOLF',
    'SOCCER',
    'VIDEO',
    'LIFESTYLE',
  ]
%>
<div class="admin-menu-wrapper">
  <div class="admin-menu">
    <div class="admin-page-menu">
      <div class="admin-page-menu__name">
        HOME
      </div>
      <div class="admin-page-menu__actions">
        <button class="button" disabled>Save all changes</button>
      </div>
    </div>
    <div class="admin-submenu-wrapper">
      <div class="admin-submenu">
        <div class="admin-submenu__nav is-prev" id="admin-menu-prev">
          <span class="material-icons">west</span>
        </div>

        <div class="admin-submenu__links" id="admin-menu">
          <% home.each.with_index do |x, i| %>
            <div class="admin-submenu__link-wrapper">
              <a href="#" class="admin-submenu__link <%= i == 0 ? 'is-active' : '' %>"><%= x %></a>
            </div>
          <% end %>
        </div>

        <div class="admin-submenu__nav is-next" id="admin-menu-next">
          <span class="material-icons">east</span>
        </div>
      </div>
    </div>
  </div>
</div>