- links = [\
  { name: 'Surveys', path: '#', icon: 'survey' },\
  { name: 'Banners', path: '#', icon: 'banner' },\
  { name: 'Languages', path: cms_languages_path, icon: 'language' },\
  { name: 'Footer', path: '#', icon: 'footer' },\
  { name: 'Share', path: '#', icon: 'share' },\
  { name: 'Users', path: '#', icon: 'users' },\
  { name: 'IA', path: cms_information_architecture_path, icon: 'ia' },\
  { name: 'Teams', path: '#', icon: 'teams' },\
]

.admin-sidebar
  ul.admin-sidebar__links
    - links.each do |link|
      li class="admin-sidebar__link-wrapper #{current_page?(link[:path]) ? 'is-active' : ''}"
        = link_to link[:path], class: "admin-sidebar__link"
          .admin-sidebar__link-icon-wrapper
            = inline_svg_tag "admin/sidebar/#{link[:icon]}.svg", class: "admin-sidebar__link-icon"

          .admin-sidebar__link-tooltip
            = link[:name]
javascript:
    document.querySelectorAll('.admin-sidebar__link-wrapper').forEach((el) => {
        let popper;
        el.addEventListener('mouseover', () => {
            const tooltip = el.querySelector('.admin-sidebar__link-tooltip')
            popper = Popper.createPopper(el, tooltip, {
                placement: 'right',
                strategy: 'fixed',
            });
        });
        el.addEventListener('mouseout', () => {
            if (popper) {
                popper.destroy();
                popper = null;
            }
        });
    })

