.link
  +font-size(12px)
  +line-height(17px)
  font-style: normal
  font-weight: 600
  letter-spacing: 0
  color: #4A90E2
  display: inline-block
  outline: none
  background: none
  border: none

  &:hover,
  &:focus,
  &:active
    color: #4A90E2
    text-decoration: underline
    outline: none
    background: none
    border: none

  &--dark
    @extend .link
    color: #434C5D

    &:hover,
    &:focus,
    &:active
      color: #434C5D

  &--primary
    @extend .link
    color: #C63638
    text-decoration: none

    &:hover,
    &:focus,
    &:active
      color: #C63638
      text-decoration: none
