<div class="block-item">
  <div class="block-item__logo-wrapper">
    <img src="https://i.ytimg.com/vi/KvHiZTrd8Iw/maxresdefault.jpg" alt="news logo" class="block-item__logo">
  </div>
  <div class="block-item__content">
    <div class="block-item__title">
      Lorem ipsum
    </div>
    <div class="block-item__text">
      Lorem ipsum dolor sit amet, consectetur
    </div>
    <div class="block-item__nav">
      <span class="material-icons">east</span>
    </div>
  </div>
</div>
