= link_to article_path(article), class: 'block-item'
  .block-item__logo-wrapper
    = image_tag article.picture.url, class: 'block-item__logo', alt: 'article logo'
  .block-item__content
    .block-item__title
      = article.headline&.truncate(25)
    .block-item__text
      - if article.content
        = strip_tags_with_spaces(article.content).truncate(40)
    .block-item__nav
      span.material-icons east