.news-preview
  .category-name
    = article.category.name
  .news-preview__logo-wrapper
    = image_tag article.picture.url, alt: 'article logo'

  .news-preview__footer
    .news-preview__footer-text
      = strip_tags_with_spaces(article.content).truncate(40)
    .news-preview__footer-arrow
      span.material-icons east