<div class="news-preview">
  <div class="category-name">
    NBA
  </div>
  <div class="news-preview__logo-wrapper">
    <img src="https://stillmed.olympic.org/media/Images/OlympicOrg/News/2019/11/01/SAS/2019-11-01-SAS-thumbnail.jpg" alt="news preview">
  </div>
  <div class="news-preview__footer">
    <div class="news-preview__footer-text">
      Lorem ipsum dolor sit amet, consectetur
    </div>
    <div class="news-preview__footer-arrow">
      <span class="material-icons">east</span>
    </div>
  </div>
</div>