/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap/scss/bootstrap.scss";
@import "slick-carousel/slick/slick";
@import "simplebar/src/simplebar";

@import "utils/index";

@import "utils/variables";
@import "elements/index";
@import "components/index";

html, body {
  font-size: $base-font-size;
  font-family: 'Open Sans', sans-serif;
  background: #f9f9f9;
}

.base-layout {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background: white;
}

.app {
  $user-sidebar-width: 252px;

  &-wrapper {
    @extend .base-layout
  }

  &-container {
    padding-top: 83px;
    display: flex;
    width: 100%;
    //max-width: 1440px;

    &__sidebar {
      width: $user-sidebar-width;
    }

    &__content {
      width: calc(100% - #{$user-sidebar-width} - #{$aside-width});
      padding-top: 82px;
    }
  }
}

.admin-layout {
  $sidebar-width: 87px;

  &-wrapper {
    @extend .base-layout;
    margin-top: 83px;
  }

  &-container {
    display: flex;
    width: 100%;
    max-width: 1440px;
    height: calc(100vh - 230px);

    &__sidebar {
      width: $sidebar-width;
      //overflow: auto;
    }

    &__content {
      //width: 60.16%;
      //margin-top: rem(42px);
      //margin-left: 16.7%;
      width: 100%;
      overflow: auto;
    }
  }
}