/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "utils/variables";
@import "bootstrap/scss/bootstrap.scss";
@import "slick-carousel/slick/slick";
@import "simplebar/src/simplebar";
@import "selectize/dist/css/selectize";
@import "dropzone/dist/dropzone";
@import "select2/dist/css/select2";
@import "perfect-scrollbar/css/perfect-scrollbar";

@import "utils/index";
@import "customer/index";

@import "elements/index";
@import "components/index";

html, body {
  font-size: $base-font-size;
  font-family: 'Open Sans', sans-serif;
}

.base-layout {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background: white;
}

.admin-layout {
  $sidebar-width: 87px;

  &-wrapper {
    @extend .base-layout;
    padding-top: 83px;
    height: 100vh;
    overflow: hidden
  }

  &-container {
    display: flex;
    width: 100%;
    max-width: 1440px;
    height: calc(100vh - 213px);

    &__sidebar {
      width: $sidebar-width;
      //overflow: auto;
    }

    &__content {
      //width: 60.16%;
      //margin-top: rem(42px);
      //margin-left: 16.7%;
      width: 100%;
      //overflow: auto;
    }
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#app-container {
  max-width: 1440px;
  margin: 0 auto;

  .wrapper {
    display: flex;
  }

  .column {
    &-left {
      width: 252px;
      flex-shrink: 0;
      z-index: 5;
    }

    &-right {
      flex-grow: 1;
      flex-basis: 0;
      min-width: 0;
      display: flex;
    }
  }

  #main {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0;
    padding-top: 70px;
  }

  .aside {
    width: 371px;
    flex-shrink: 0;
  }
}

#admin-container {
  width: 100%;
  margin: 0 auto;

  .wrapper {
    display: flex;
    height: 100%;
  }

  .column {
    &-left {
      width: 100px;
      flex-shrink: 0;
      top: 215px;
      position: sticky;
      z-index: 1;
    }

    &-right {
      flex-grow: 1;
      min-width: 0;
      padding-bottom: 50px;
    }
  }
}