.selectize-input
  border: 1px solid #D4D9E2
  box-shadow: none
  border-radius: 0

  &.dropdown-active
    border-radius: 0

  &.focus
    box-shadow: none

.selectize-dropdown
  .active
    color: #D72130
    background: rgba(215, 33, 48, 0.11)
    cursor: pointer


select
  &[aria-invalid=true]
    & + .selectize-control
      .selectize-input
        border: 1px solid #d72130